
.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-bot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    max-width: 400px;
    background-color: #f0f2f0;
    box-shadow: 0px 0px 4px 0px #565656;
    padding: 0px 15px;
    margin: 10px 10px;
    border-radius: 15px;
    font-size: 18px;
}

.chat-message-profile {
    width: 44px;
    height: 44px;
    margin: 10px 5px;
    border-radius: 100px;
    /* box-shadow: 0px 0px 6px 0px black; */
    box-shadow: 0px 0px 4px 0px white inset, 0px 0px 8px 0px black;
    /* background-color: black;  */
    align-items: start;
    padding: 8px;
}

.chat-message-loading-spinner{
    height: 40px;
    margin: -15px;
}