body {
    /* background: radial-gradient(#f4eff7, #f3e5ec, #d6cdd1); */
    height: 100vh;
    background:
        radial-gradient(circle at top left, #e9dbf2, transparent 60%),
        radial-gradient(circle at top right, #bfa1b0, transparent 60%),
        radial-gradient(circle at bottom left, #bd6f90, transparent 60%),
        radial-gradient(circle at bottom right, #beadae, transparent 60%);
    background-color: #fff;
    animation: gradient-move 4s ease-in-out infinite alternate;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
        filter: brightness(1);
    }

    50% {
        background-position: 50% 50%;
        filter: brightness(1.05);
    }

    100% {
        background-position: 100% 100%;
        filter: brightness(1);
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    height: 100vh;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
    flex-grow: 1;

}

.chat-send-btn {
    padding: 18px 25px;
    margin: 0px 10px;
    border-radius: 15px;
    /* background-color: #565656; */
    background-color: transparent;
    box-shadow: 0px 0px 4px 0px white inset, 0px 0px 8px 0px black;
    color: black;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.chat-input {
    padding: 18px 25px;
    margin: 0px 10px;
    border-radius: 15px;
    background-color: #fefefe;
    color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 0px white inset, 0px 0px 4px 0px black;
    border-width: 1px;
    color: black;
    flex-grow: 1;
    max-width: 100%;
    font-size: 15px;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
    height: 100vh;
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-bot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    max-width: 300px;
    background-color: #fefefe;
    box-shadow: 0px 0px 4px 0px #565656;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 15px;
    font-size: 18px;
}

.chat-message-profile {
    width: 44px;
    height: 44px;
    margin: 10px;
    border-radius: 100px;
    /* box-shadow: 0px 0px 6px 0px black; */
    box-shadow: 0px 0px 4px 0px white inset, 0px 0px 8px 0px black;

    padding: 8px;
}