
.app-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    max-height: 100vh;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
    .app-container {
        width: 400px;
    }
    
    .chat-input-container {
        flex-direction: column;  
    }
}