.app-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    max-height: 100dvh;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
    .app-container {
        width: 350px;
    }

    .chat-input-container {
        flex-direction: column;
    }

    .chat-message-profile {
        width: 30px;
        height: 30px;
    }

    .chat-message-text {
        font-size: 16px;
    }

    .chat-input-container {
        margin-bottom: 5px;
        margin-top: 12px;
        flex-grow: 1;
    }

    .chat-message-container {
        margin-top: 5px;
    }

    .chat-send-btn {
        padding: 12px 18px;
        margin: 8px 10px;
        font-size: 16px;
    }

    .chat-input {
        padding: 12px 18px;
        font-size: 16px;
    }

    .theme-btn {
        padding: 4px 18px;
        margin: 2px 10px;
        font-size: 16px;
    }

    .theme-img {
        width: 30px;
    }
}