body {
    
    height: 100vh;
    background:
        radial-gradient(circle at top left, #5b5b5b, transparent 60%),
        radial-gradient(circle at top right, #3e3f3e, transparent 60%),
        radial-gradient(circle at bottom left, #1e1e1e, transparent 60%),
        radial-gradient(circle at bottom right, #060c06, transparent 60%);
    background-color: #fff;
    animation: gradient-move 4s ease-in-out infinite alternate;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.light-theme {
    height: 100vh;
    background:
        radial-gradient(circle at top left, #c5a8d7, transparent 60%),
        radial-gradient(circle at top right, #a37f91, transparent 60%),
        radial-gradient(circle at bottom left, #8b566c, transparent 60%),
        radial-gradient(circle at bottom right, #866b6c, transparent 60%);
    background-color: #fff;
    animation: gradient-move 4s ease-in-out infinite alternate;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dark-theme {
    
    height: 100vh;
    background:
        radial-gradient(circle at top left, #5b5b5b, transparent 60%),
        radial-gradient(circle at top right, #3e3f3e, transparent 60%),
        radial-gradient(circle at bottom left, #1e1e1e, transparent 60%),
        radial-gradient(circle at bottom right, #060c06, transparent 60%);
    background-color: #fff;
    animation: gradient-move 4s ease-in-out infinite alternate;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
        filter: brightness(1);
    }

    50% {
        background-position: 50% 50%;
        filter: brightness(1.05);
    }

    100% {
        background-position: 100% 100%;
        filter: brightness(1);
    }
}
