body {
    /* background: radial-gradient(#f4eff7, #f3e5ec, #d6cdd1); */
    height: 100vh;
    background:
        radial-gradient(circle at top left, #e9dbf2, transparent 60%),
        radial-gradient(circle at top right, #bfa1b0, transparent 60%),
        radial-gradient(circle at bottom left, #bd6f90, transparent 60%),
        radial-gradient(circle at bottom right, #beadae, transparent 60%);
    background-color: #fff;
    animation: gradient-move 4s ease-in-out infinite alternate;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
        filter: brightness(1);
    }

    50% {
        background-position: 50% 50%;
        filter: brightness(1.05);
    }

    100% {
        background-position: 100% 100%;
        filter: brightness(1);
    }
}
